---
import { siteData } from "~/config"

import "~/styles/tailwind.css"
import "~/styles/view-transition.css"

const { title, description } = Astro.props

const config = siteData
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={config.meta.favicon} />
    <title>
      {
        title
          ? `${config.meta.title} - ${title}`
          : `${config.meta.title} - ${config.meta.slogan}`
      }
    </title>
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={description ? description : config.meta.description}
    />

    <script is:inline>
      document.documentElement.classList.add("dark")
      document.documentElement.setAttribute(
        "data-theme",
        "material-theme-darker",
      )
    </script>
  </head>
  <body
    class="flex min-h-screen w-full justify-center px-6 md:px-0 dark:bg-[#121212] dark:text-white"
  >
    <slot />
  </body>
</html>
